body {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    padding: 150px;
    background: url("./old-book.jpg");
    background-size: cover;
}

h1 {
    font-size: 3.5em;
}

p {
    font-size: 1.5em;
}

#result {
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    padding: 15px;
}